In [1]:
print("Prajwal Raj")

Prajwal Raj

In [2]:
# YOu can find this data in the URL :  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

In [3]:
# Importing required Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

This dataset was hosted on IBM Cloud object

In [11]:
filename = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"

In [12]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [14]:
df = pd.read_csv(filename,names = headers)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [15]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 205 non-null object
stroke               205 non-null object
compression-ratio    205 non-null float64
horsepower           205 non-null object
peak-rpm             205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [17]:
df.shape

(205, 26)

In [19]:
df.isnull().any()

symboling            False
normalized-losses    False
make                 False
fuel-type            False
aspiration           False
num-of-doors         False
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
engine-size          False
fuel-system          False
bore                 False
stroke               False
compression-ratio    False
horsepower           False
peak-rpm             False
city-mpg             False
highway-mpg          False
price                False
dtype: bool

In [21]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [23]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
symboling,205.0,0.834146,1.245307,-2.0,0.0,1.0,2.0,3.0
wheel-base,205.0,98.756585,6.021776,86.6,94.5,97.0,102.4,120.9
length,205.0,174.049268,12.337289,141.1,166.3,173.2,183.1,208.1
width,205.0,65.907805,2.145204,60.3,64.1,65.5,66.9,72.3
height,205.0,53.724878,2.443522,47.8,52.0,54.1,55.5,59.8
curb-weight,205.0,2555.565854,520.680204,1488.0,2145.0,2414.0,2935.0,4066.0
engine-size,205.0,126.907317,41.642693,61.0,97.0,120.0,141.0,326.0
compression-ratio,205.0,10.142537,3.972040,7.0,8.6,9.0,9.4,23.0
city-mpg,205.0,25.219512,6.542142,13.0,19.0,24.0,30.0,49.0
highway-mpg,205.0,30.751220,6.886443,16.0,25.0,30.0,34.0,54.0

In [24]:
r = df.isnull()
r.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [26]:
for l in r.columns.values.tolist():
    print(r[l].value_counts())

False    205
Name: symboling, dtype: int64
False    205
Name: normalized-losses, dtype: int64
False    205
Name: make, dtype: int64
False    205
Name: fuel-type, dtype: int64
False    205
Name: aspiration, dtype: int64
False    205
Name: num-of-doors, dtype: int64
False    205
Name: body-style, dtype: int64
False    205
Name: drive-wheels, dtype: int64
False    205
Name: engine-location, dtype: int64
False    205
Name: wheel-base, dtype: int64
False    205
Name: length, dtype: int64
False    205
Name: width, dtype: int64
False    205
Name: height, dtype: int64
False    205
Name: curb-weight, dtype: int64
False    205
Name: engine-type, dtype: int64
False    205
Name: num-of-cylinders, dtype: int64
False    205
Name: engine-size, dtype: int64
False    205
Name: fuel-system, dtype: int64
False    205
Name: bore, dtype: int64
False    205
Name: stroke, dtype: int64
False    205
Name: compression-ratio, dtype: int64
False    205
Name: horsepower, dtype: int64
False    205
Name: peak-rpm, dtype: int64
False    205
Name: city-mpg, dtype: int64
False    205
Name: highway-mpg, dtype: int64
False    205
Name: price, dtype: int64

In [27]:
df.head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,0,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,0,?,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295

In [28]:
df.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [29]:
df['normalized-losses'].value_counts()

?      41
161    11
91      8
150     7
128     6
104     6
134     6
65      5
168     5
94      5
74      5
85      5
103     5
95      5
102     5
106     4
122     4
118     4
148     4
93      4
154     3
115     3
137     3
101     3
125     3
83      3
145     2
192     2
119     2
89      2
158     2
110     2
188     2
164     2
108     2
129     2
87      2
81      2
194     2
153     2
113     2
197     2
142     1
121     1
77      1
90      1
186     1
78      1
107     1
98      1
256     1
231     1
Name: normalized-losses, dtype: int64

In [34]:
df['normalized-losses'].replace("?", np.nan, inplace = True)

In [35]:
df['normalized-losses'].isnull().sum()

41

In [38]:
df['normalized-losses'].dtype

dtype('O')

In [44]:
df['normalized-losses']  =df['normalized-losses'].astype('float32')

In [45]:
df['normalized-losses'].dtype

dtype('float32')

In [52]:
df['normalized-losses'].isnull().any()

True

In [53]:
df['normalized-losses'].mean()

122.0

In [54]:
df['normalized-losses'].fillna(122.0, inplace = True)

In [55]:
df['normalized-losses'].isnull().any()

False

In [56]:
df.head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,122.0,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,0,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,0,122.0,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,0,122.0,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
19,1,98.0,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295

In [57]:
# WE want to predict price so lets check first the price column
df['price'].value_counts()

?        4
18150    2
7775     2
6229     2
13499    2
        ..
18920    1
10898    1
11048    1
13860    1
35056    1
Name: price, Length: 187, dtype: int64

In [58]:
df['price'].dtype

dtype('O')

In [59]:
df['price'].replace('?', np.nan, inplace = True)

In [60]:
df['price'].value_counts()

18150    2
5572     2
16500    2
13499    2
6692     2
        ..
18920    1
10898    1
11048    1
13860    1
35056    1
Name: price, Length: 186, dtype: int64

In [61]:
df.isnull().any()

symboling            False
normalized-losses    False
make                 False
fuel-type            False
aspiration           False
num-of-doors         False
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
engine-size          False
fuel-system          False
bore                 False
stroke               False
compression-ratio    False
horsepower           False
peak-rpm             False
city-mpg             False
highway-mpg          False
price                 True
dtype: bool

In [64]:
df.dropna(inplace = True)

In [65]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [66]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [67]:
df['drive-wheels'].value_counts()

fwd    118
rwd     75
4wd      8
Name: drive-wheels, dtype: int64

In [68]:
df['engine-location'].value_counts()

front    198
rear       3
Name: engine-location, dtype: int64

In [69]:
df['fuel-system'].value_counts()

mpfi    92
2bbl    64
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel-system, dtype: int64

In [70]:
df['fuel-type'].value_counts()

gas       181
diesel     20
Name: fuel-type, dtype: int64

In [71]:
df.isnull().any()

symboling            False
normalized-losses    False
make                 False
fuel-type            False
aspiration           False
num-of-doors         False
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
engine-size          False
fuel-system          False
bore                 False
stroke               False
compression-ratio    False
horsepower           False
peak-rpm             False
city-mpg             False
highway-mpg          False
price                False
dtype: bool

In [72]:
#this is categorical column so convert it 3 value column
df.replace('?', np.nan,inplace = True)

In [73]:
df.isnull().any()

symboling            False
normalized-losses    False
make                 False
fuel-type            False
aspiration           False
num-of-doors          True
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
engine-size          False
fuel-system          False
bore                  True
stroke                True
compression-ratio    False
horsepower            True
peak-rpm              True
city-mpg             False
highway-mpg          False
price                False
dtype: bool

In [74]:
df['num-of-doors'].value_counts()

four    113
two      86
Name: num-of-doors, dtype: int64

In [75]:
df['num-of-doors'].isnull().sum()

2

In [76]:
df['bore'].value_counts()

3.62    23
3.19    20
3.15    15
2.97    12
3.03    10
3.46     9
3.31     8
3.43     8
3.78     8
3.27     7
2.91     7
3.54     6
3.05     6
3.39     6
3.58     6
3.01     5
3.70     5
3.35     4
3.74     3
3.59     3
3.17     3
3.80     2
3.63     2
3.24     2
3.47     2
3.50     2
3.33     2
2.54     1
3.76     1
3.08     1
3.13     1
2.68     1
3.94     1
3.60     1
2.99     1
3.34     1
3.61     1
2.92     1
Name: bore, dtype: int64

In [78]:
df['bore'].isnull().sum()

4

In [80]:
df['bore'].dtype

dtype('O')

In [81]:
 r = df['bore'].astype('float32')

In [82]:
r.mean()

3.3307111263275146

In [83]:
df['bore'].replace(np.nan, r.mean(), inplace =True)

In [84]:
df['bore'].isnull().any()

False

In [85]:
df['stroke'].value_counts()

3.40    19
3.03    14
3.15    14
3.23    14
3.39    13
2.64    11
3.35     9
3.29     9
3.46     8
3.19     6
3.07     6
3.27     6
3.58     6
3.50     6
3.41     6
3.64     5
3.52     5
3.47     4
3.86     4
3.54     4
2.90     3
3.11     3
3.90     3
4.17     2
2.19     2
2.68     2
3.10     2
2.80     2
3.08     2
2.36     1
2.07     1
3.21     1
3.16     1
2.87     1
2.76     1
3.12     1
Name: stroke, dtype: int64

In [86]:
df['stroke'].isnull().sum()

4

In [87]:
df['stroke'].dtype

dtype('O')

In [88]:
m = df['stroke'].astype('float32')

In [89]:
m.mean()

3.2569055557250977

In [90]:
df['stroke'].replace(np.nan, m.mean(), inplace = True)

In [91]:
df['stroke'].isnull().any()

False

In [92]:
df['horsepower'].value_counts()

68     19
69     10
70      9
116     9
110     8
95      7
101     6
88      6
114     6
62      6
145     5
160     5
102     5
84      5
76      5
82      5
97      5
123     4
92      4
86      4
111     4
152     3
73      3
182     3
121     3
85      3
90      3
207     3
100     2
176     2
184     2
52      2
155     2
56      2
161     2
94      2
156     2
112     2
162     2
142     1
175     1
55      1
48      1
262     1
135     1
200     1
106     1
143     1
115     1
72      1
120     1
78      1
60      1
154     1
134     1
64      1
140     1
58      1
Name: horsepower, dtype: int64

In [96]:
df['horsepower'].describe(include = 'all')

count     199
unique     58
top        68
freq       19
Name: horsepower, dtype: object

In [97]:
df['horsepower'].isnull().sum()

2

In [99]:
df['horsepower'].dtype

dtype('O')

In [103]:
r = df['horsepower'].astype('float32')

In [106]:
r.mean()

103.39698791503906

In [107]:
df['horsepower'].replace(np.nan, r.mean(), inplace = True)

In [108]:
df['horsepower'].isnull().any()

False

In [109]:
df['peak-rpm'].value_counts()

4800    36
5500    36
5000    27
5200    23
5400    11
6000     9
5250     7
4500     7
5800     7
4150     5
4200     5
4750     4
4350     4
4400     3
5900     3
4250     3
5100     3
6600     2
4650     1
5300     1
5600     1
4900     1
Name: peak-rpm, dtype: int64

In [110]:
df['peak-rpm'].isnull().sum()

2

In [111]:
df['peak-rpm'].describe()

count      199
unique      22
top       4800
freq        36
Name: peak-rpm, dtype: object

In [112]:
df.isnull().any()

symboling            False
normalized-losses    False
make                 False
fuel-type            False
aspiration           False
num-of-doors          True
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
engine-size          False
fuel-system          False
bore                 False
stroke               False
compression-ratio    False
horsepower           False
peak-rpm              True
city-mpg             False
highway-mpg          False
price                False
dtype: bool

In [113]:
df.dropna(inplace = True)

In [116]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [117]:
df.corr()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
symboling,1.000000,0.468605,-0.538787,-0.366330,-0.243256,-0.547173,-0.233780,-0.111333,-0.176272,-0.029692,0.042294
normalized-losses,0.468605,1.000000,-0.053450,0.025193,0.091284,-0.373106,0.102611,0.115540,-0.115402,-0.226425,-0.183083
wheel-base,-0.538787,-0.053450,1.000000,0.879689,0.816600,0.591624,0.782109,0.571984,0.253494,-0.477904,-0.548811
length,-0.366330,0.025193,0.879689,1.000000,0.856495,0.489997,0.882718,0.684888,0.157341,-0.676796,-0.710573
width,-0.243256,0.091284,0.816600,0.856495,1.000000,0.304199,0.867289,0.729046,0.188894,-0.642865,-0.690699
height,-0.547173,-0.373106,0.591624,0.489997,0.304199,1.000000,0.306149,0.071930,0.252579,-0.059294,-0.113119
curb-weight,-0.233780,0.102611,0.782109,0.882718,0.867289,0.306149,1.000000,0.848932,0.161911,-0.755559,-0.800113
engine-size,-0.111333,0.115540,0.571984,0.684888,0.729046,0.071930,0.848932,1.000000,0.029807,-0.655737,-0.684662
compression-ratio,-0.176272,-0.115402,0.253494,0.157341,0.188894,0.252579,0.161911,0.029807,1.000000,0.313920,0.250622
city-mpg,-0.029692,-0.226425,-0.477904,-0.676796,-0.642865,-0.059294,-0.755559,-0.655737,0.313920,1.000000,0.972407
highway-mpg,0.042294,-0.183083,-0.548811,-0.710573,-0.690699,-0.113119,-0.800113,-0.684662,0.250622,0.972407,1.000000

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 0 to 204
Data columns (total 26 columns):
symboling            197 non-null int64
normalized-losses    197 non-null float64
make                 197 non-null object
fuel-type            197 non-null object
aspiration           197 non-null object
num-of-doors         197 non-null object
body-style           197 non-null object
drive-wheels         197 non-null object
engine-location      197 non-null object
wheel-base           197 non-null float64
length               197 non-null float64
width                197 non-null float64
height               197 non-null float64
curb-weight          197 non-null int64
engine-type          197 non-null object
num-of-cylinders     197 non-null object
engine-size          197 non-null int64
fuel-system          197 non-null object
bore                 197 non-null object
stroke               197 non-null object
compression-ratio    197 non-null float64
horsepower           197 non-null object
peak-rpm             197 non-null object
city-mpg             197 non-null int64
highway-mpg          197 non-null int64
price                197 non-null object
dtypes: float64(6), int64(5), object(15)
memory usage: 41.6+ KB

In [119]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [120]:
df['fuel-type'].value_counts().idxmax()

'gas'

In [121]:
df['fuel-type'].value_counts()

gas       178
diesel     19
Name: fuel-type, dtype: int64

In [122]:
df.shape

(197, 26)

In [127]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

we need to get all the column in correct data format

In [128]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [130]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [136]:
df[['bore','stroke']] = df[['bore', 'stroke']].astype('float32')

In [137]:
df[['horsepower','peak-rpm']] = df[['horsepower','peak-rpm']].astype('int32')

In [138]:
df[['price']] = df[['price']].astype('float32')

In [139]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float32
stroke               float32
compression-ratio    float64
horsepower             int32
peak-rpm               int32
city-mpg               int64
highway-mpg            int64
price                float32
dtype: object

In [140]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [141]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

Data Normailzing

In [142]:
df['length']

0      168.8
1      168.8
2      171.2
3      176.6
4      176.6
       ...
200    188.8
201    188.8
202    188.8
203    188.8
204    188.8
Name: length, Length: 197, dtype: float64

In [143]:
df['length'] = df['length']/df['length'].max()

In [145]:
df['length']

0      0.811148
1      0.811148
2      0.822681
3      0.848630
4      0.848630
         ...
200    0.907256
201    0.907256
202    0.907256
203    0.907256
204    0.907256
Name: length, Length: 197, dtype: float64

In [146]:
df.columns.tolist()

['symboling',
 'normalized-losses',
 'make',
 'fuel-type',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price']

In [147]:
df['width'].value_counts()

63.8    23
66.5    21
65.4    15
68.4    10
64.4    10
64.0     9
63.6     9
65.5     8
65.2     7
67.2     6
64.2     6
65.6     6
66.3     6
66.9     5
65.7     4
64.8     4
67.9     4
68.9     4
65.0     3
70.3     3
63.9     3
71.4     3
71.7     3
64.6     2
64.1     2
67.7     2
69.6     2
68.3     2
66.1     2
61.8     1
60.3     1
66.4     1
70.6     1
66.2     1
70.9     1
68.0     1
72.0     1
70.5     1
63.4     1
66.0     1
62.5     1
68.8     1
Name: width, dtype: int64

In [151]:
df['widht'] =(df['width'] - df['width'].min())/(df['width'].max()-df['width'].min())

In [152]:
df['width'].head()

0    64.1
1    64.1
2    65.5
3    66.2
4    66.4
Name: width, dtype: float64

In [153]:
df['width'].value_counts()

63.8    23
66.5    21
65.4    15
68.4    10
64.4    10
64.0     9
63.6     9
65.5     8
65.2     7
67.2     6
64.2     6
65.6     6
66.3     6
66.9     5
65.7     4
64.8     4
67.9     4
68.9     4
65.0     3
70.3     3
63.9     3
71.4     3
71.7     3
64.6     2
64.1     2
67.7     2
69.6     2
68.3     2
66.1     2
61.8     1
60.3     1
66.4     1
70.6     1
66.2     1
70.9     1
68.0     1
72.0     1
70.5     1
63.4     1
66.0     1
62.5     1
68.8     1
Name: width, dtype: int64

In [154]:
df['height'].head()

0    48.8
1    48.8
2    52.4
3    54.3
4    54.3
Name: height, dtype: float64

In [155]:
df['height'].mean()

53.78324873096453

In [156]:
df['height'].std()

2.445899025912582

In [157]:
df['height'] =(df['height'] -df['height'].mean())/ df['height'].std()

In [158]:
df['height'].head()

0   -2.037389
1   -2.037389
2   -0.565538
3    0.211273
4    0.211273
Name: height, dtype: float64

In [159]:
df[['length', 'width', 'height']].head()

     length  width    height
0  0.811148   64.1 -2.037389
1  0.811148   64.1 -2.037389
2  0.822681   65.5 -0.565538
3  0.848630   66.2  0.211273
4  0.848630   66.4  0.211273

In [160]:
df['width'] = (df['width'] - df['width'].min())/ (df['width'].max()- df['widht'].min())

In [161]:
df['width'].head()

0    0.052778
1    0.052778
2    0.072222
3    0.081944
4    0.084722
Name: width, dtype: float64

In [162]:
df[['length','width', 'height']].head()

     length     width    height
0  0.811148  0.052778 -2.037389
1  0.811148  0.052778 -2.037389
2  0.822681  0.072222 -0.565538
3  0.848630  0.081944  0.211273
4  0.848630  0.084722  0.211273

In [163]:
df['horsepower']

0      111
1      111
2      154
3      102
4      115
      ...
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 197, dtype: int32

### Using Binning to make a numeric column a categorical Value

In [164]:
# We consider horsepower column

In [165]:
print(df['horsepower'].max())
print(df['horsepower'].min())

262
48

In [171]:
# Rough
np.linspace(0,100,5)

array([  0.,  25.,  50.,  75., 100.])

In [166]:
# now we will make 3 bins : low ,medium, and high

In [172]:
bins = np.linspace(df['horsepower'].min(), df['horsepower'].max(), 4)

In [173]:
bins

array([ 48.        , 119.33333333, 190.66666667, 262.        ])

In [174]:
# naming the group
group_name = ['low','medium','high']

In [175]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'widht'],
      dtype='object')

In [176]:
df.shape

(197, 27)

In [177]:
df['horsepowere-bined'] = pd.cut(df['horsepower'],bins, labels = group_name, include_lowest = True)

In [178]:
df['horsepowere-bined'].head()

0       low
1       low
2    medium
3       low
4       low
Name: horsepowere-bined, dtype: category
Categories (3, object): [low < medium < high]

In [179]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'widht', 'horsepowere-bined'],
      dtype='object')

In [180]:
df.shape

(197, 28)

In [182]:
plt.bar(df['horsepowere-bined'].value_counts())

TypeError: bar() missing 1 required positional argument: 'height'

In [183]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,widht,horsepowere-bined
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,13495.0,0.324786,low
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,16500.0,0.324786,low
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000,19,26,16500.0,0.444444,medium
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950.0,0.504274,low
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450.0,0.521368,low

In [184]:
df['fuel-type'].value_counts()

gas       178
diesel     19
Name: fuel-type, dtype: int64

In [185]:
d = pd.get_dummies(df['fuel-type'])
d.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [186]:
d.columns

Index(['diesel', 'gas'], dtype='object')

In [187]:
df = pd.concat([df,d], axis = 1)

In [188]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'widht', 'horsepowere-bined', 'diesel', 'gas'],
      dtype='object')

In [189]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,widht,horsepowere-bined,diesel,gas
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111,5000,21,27,13495.0,0.324786,low,0,1
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111,5000,21,27,16500.0,0.324786,low,0,1
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,9.0,154,5000,19,26,16500.0,0.444444,medium,0,1
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,10.0,102,5500,24,30,13950.0,0.504274,low,0,1
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,8.0,115,5500,18,22,17450.0,0.521368,low,0,1

In [190]:
df.drop('fuel-type', axis = 1, inplace = True)

In [191]:
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,widht,horsepowere-bined,diesel,gas
0,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111,5000,21,27,13495.0,0.324786,low,0,1
1,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111,5000,21,27,16500.0,0.324786,low,0,1
2,1,122.0,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154,5000,19,26,16500.0,0.444444,medium,0,1
3,2,164.0,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102,5500,24,30,13950.0,0.504274,low,0,1
4,2,164.0,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115,5500,18,22,17450.0,0.521368,low,0,1

In [193]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length',
       'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price', 'widht',
       'horsepowere-bined', 'diesel', 'gas'],
      dtype='object')